<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asuna.mapper.CategoryMapper">

    <select id="getCategoryList" resultType="com.asuna.vo.CategoryVo">
        SELECT DISTINCT id, name FROM sg_category WHERE id IN
                                                        <foreach collection="list" item="id" separator="," open="(" close=")">
                                                            #{id}
                                                        </foreach>
    </select>

    <select id="getCategoryNameById" resultType="String">
        select distinct name from sg_category where id = #{categoryId}
    </select>
</mapper>
